body {
    background-color: #f5f5f5; /* Off-white background */
    color: #000000; /* Black text */
    font-family: optima, sans-serif;
    font-style: normal;
}

a { 
    color: rgb(0, 0, 0); 
    text-decoration: none;
}

.content {
	width:100%;
}



/* NAVBAR */
#nav {
	left: 0%;
	right: 0%;
	background-color: white;
	position: fixed;
	top: -70px;
	display: block;
	transition: top 0.4s;
	box-shadow: 2px 2px 5px #aaaaaa;
	z-index: 1;
}

.nav-item:first-child {
	float: left;
	font-weight: 500;
}

.nav-item {
	color: #2a2d34;
	float: right;
	display: block;
	text-align: center;
	padding: 22px;
	text-decoration: none;
	font-size: 17px;
	font-weight: 500;
}

.nav-item:hover {
	color: #2a2d34;
	transition: 0.5s;
}


.nav-item:hover:after {
    transform: scaleX(1);
}

.nav-item::after {
    display:block;
    content: '';
    border-bottom: solid 3px #d3cbf5;  
    transform: scaleX(0);  
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}

/* GOODREADS */
.gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
    margin: auto;
    width: 50%;
    padding: 10px;
}

.gr_grid_book_container {
/* customize book cover container div here */
    float: left;
    width: 98px;
    height: 160px;
    padding: 0px 0px;
    overflow: hidden;
}

/* BOUNCING ARROW */

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
